* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

:root { 
    --color-fondo: #F2F2F2;
    --color-texto: #000000;
    --color-titulo: #4DAE8D;
    --fondo-titulo: #E6FAF5; 
}

li ul{
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Momo Signature", cursive;
    background-color: var(--color-fondo);
    color: var(--color-texto); 
}

header,
footer {
    padding: 15px;
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    display: inline-block;
    background-color: seagreen;
    border-radius: 10px;
    padding: 5px;
}

img {
    width: 200px;
}

figure{
    margin-left: 20%;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sidecontent {
    background-color: lightcyan;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

figure img {
    width: 20%;
}

.hardware,.software{
    width: 500px;
    margin: 20px;
}

.hardware img, .software img{
    margin-right: 30px;
}
#vali{
    color: white;
}