*{
    margin: 0;
    padding: 0;
}
header{
    color: orange;
    background-color: rgba(29, 29, 29, 0.897);
    text-align: center;
    padding: 40px;
}
h1,footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}
div{
    text-align: center;
    margin-bottom: 50px;
    display: grid;
}
div div{
    outline: 2px solid transparent;
    outline-offset: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
}
div div:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-color: black;
}
div div img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.UD1,.UD2,.UD3,.UD4,.UD5,.UD6,.UD7,.EXA{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    margin-left: 6%;
}
.UD1{
    margin-left: 20%;
}
.UD2 div img,.UD3 div img,.UD4 div img/*,.UD5 div img,.UD6 div img,.UD7 div img para más adelante*/{
    max-height: 220px;
}
.UD2 div,.UD3 div,.UD4 div/*,.UD5 div,.UD6 div,.UD7 div para más adelante*/{
    height: 200px;
}
div div{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    box-sizing: border-box;
}
img{
    width: 350px;
}
footer a img{
    width: 50px;
}
#vali{
    color: white;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 3%;
    justify-content: space-between;
}
ul li a{
    padding: 5px;
    box-sizing:content-box;
    background-color: rgba(61, 61, 61, 0.664);
    color: white;
    text-decoration: none;
}
#bDTD1,#bDTD2{
    padding: 5px;
    margin: 0 auto;
    background-color: black;
}
#bDTD1 a,#bDTD2 a{
    color: white;
    text-decoration: none;
}
#bDTD1:hover,#bDTD2:hover{
    background-color: gray;
}