*{
    margin: 0;
    padding: 0;
}
header{
    color: orange;
    background-color: rgba(29, 29, 29, 0.897);
    text-align: center;
    padding: 40px;
    font-weight: bolder;
    margin-bottom: 5%;
}
div{
    outline: 2px solid transparent;
    outline-offset: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
    display: grid;
    height: 300px;
    margin-top: 5%;
}
div img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 220px;
}

main{
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 20px;
    margin-left: 5%;
}

div:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-color: black;
}
footer a img{
    width: 50px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
#vali{
    color: white;
}
img{
    width: 350px;
}